<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecommerce app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>

    <h1><%= success %></h1>
    <h1 class="text-center">welcome to ecommerce app admin view </h1>

    <div class="container-fluid mt-4">
    <div class="row g-3">

        <% for (post of allPost) { %>

        <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="post/view/<%= post._id %>" style="text-decoration: none;"><div class="card h-70 shadow-sm" >

                <img src="<%= post.images[0] %>" height="390px" width="100%" alt="cover photo">

                <div class="card-body p-2">
                    <h6 class="card-title text-truncate"><%= post.title %></h6>

                    <p class="small text-muted text-truncate" title="<%= post.description %>">
                        <%= post.description %>
                    </p>

                    <p class="fw-bold mb-1">
                        Rs <%= post.price %>
                    </p>

                    <% if (post.stock > 0) { %>
                        <span class="badge bg-success">Available</span>
                    <% } else { %>
                        <span class="badge bg-danger">Sold Out</span>
                    <% } %>

                    <% if (post.discount > 0) { %>
                        <span class="badge bg-warning text-dark ms-1"><%= post.discount %>% OFF</span>
                    <% } %>
                </div>
                </a>
                <div class="d-flex justify-content-start w-100">
            <a href="" class="mb-3 mt-2 badge bg-success ms-2" style="text-decoration: none;width: 67px;">edit</a>
            <form action="" class="mb-3 mt-2 w-50" style="margin-left:10px;">
            <button class="badge bg-warning text-dark" style="border: 0px;width: 70px;height: 25px;">delete</button>
            </form>
            </div>

            </div>
        </div>
    </a>

        <% } %>

    </div>
</div>

<div>footer</div>


</body>
</html>