<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>specfic post</title>
</head>
<body>

    <h1><%= post.title %></h1>
    <% for(pic of post.images ) {%>
        <img src="<%= pic %>" alt="" width="100px" height="100px">

    <% } %>
    <p><%= post.description %></p>
    <p><%= post.price %></p>
    <p><%= post.description %></p>
     <% if (post.stock > 0) { %>
    <span class="badge bg-success">Available</span>
    <% } else { %>
    <span class="badge bg-danger">Sold Out</span>
    <% } %>

    <% if (post.discount > 0) { %>
    <span class="badge bg-warning text-dark ms-1"><%= post.discount %>% OFF</span>
    <% } %>

    <a href="">add to cart</a>
    <a href="">order now</a>
    <a href="/user/post">back</a>

    <h1>reviews</h1>
    <% if(post.reviews && post.reviews.length>0) {%>
        <div>
            
        </div>

    <% } %>
    <form action="/user/post/review/<%= post.id %>" method="post">
        <input type="text" name="review" placeholder="please enter your review.....">
        <button>submit</button>
    </form>

    
</body>
</html>