<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>specfic post</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/starRating.css">
</head>
<body>

    <h1><%= post.title %></h1>
    <% for(pic of post.images ) {%>
        <img src="<%= pic %>" alt="" width="100px" height="100px">

    <% } %>
    <p><%= post.description %></p>
    <p><%= post.price %></p>
    <p><%= post.description %></p>
     <% if (post.stock > 0) { %>
    <span class="badge bg-success">Available</span>
    <% } else { %>
    <span class="badge bg-danger">Sold Out</span>
    <% } %>

    <% if (post.discount > 0) { %>
    <span class="badge bg-warning text-dark ms-1"><%= post.discount %>% OFF</span>
    <% } %>

    <a href="">add to cart</a>
    <a href="">order now</a>
    <a href="/user/post">back</a>

    <h1>reviews</h1>
    <% if(post.reviews && post.reviews.length>0) {%>
        <% for(let i=0;i<post.reviews.length;i++){%>
        <div style="border: 1px solid black;">
            <p>owner : <%= post.reviews[i].owner.email %></p>
            <p><%= post.reviews[i].content %></p>
            <p><%= post.reviews[i].rating %>stars</p>
        
            <% if(user.email==post.reviews[i].owner.email) {%>
            
                <form action="/user/post/<%= post.id %>/review/<%= post.reviews[i].id %>?_method=delete" method="post">
                <button class="btn btn-primary mb-1" style="margin-left: 3px;">delete</button>
            </form>
            <% } %>

        </div>
        <% } %>

    <% } %>

    <form action="/user/post/review/<%= post.id %>" method="post" class="needs-validation" novalidate>

        <fieldset class="starability-basic" style="margin-bottom: 0px; margin-top: 2px;">
        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="rating" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="rating" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="rating" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="rating" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="rating" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <div class="col-md-4" style="margin-left: 5px;">
                    <label for="review" class="form-label">Enter the review</label>
                    <input type="text" name="review" id="review" placeholder="please enter review ..." class="form-control" required>
                    <div class="invalid-feedback">Please enter review.</div>
        </div>
        <button class="btn btn-primary mt-3 mb-3" style="border: none; margin-left: 5px;">submit</button>
    </form>
<script src="/common.js"></script>
     
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>